<div class="game">
  <div class="menu">
    <button mat-icon-button (click)="openNotes()" [color]="(game.newNotes | keyvalue).length > 0 ? 'warn' : ''">
      <mat-icon svgIcon="notes" matTooltip="记事本"></mat-icon>
    </button>
  </div>
  <div class="event">
    <div class="description" (click)="triggerNextEvent()">
      <p *ngFor="let paragraph of game.currentEvent.description.split('\n')" class="paragraph">{{paragraph}}</p>
    </div>
    <div class="actions">
      <button mat-button class="action" *ngFor="let action of game.currentEvent.actionsAvailable | keyvalue" (click)="takeAction(action.key)">{{action.key}}</button>
    </div>
  </div>
</div>