.paragraph {
  text-indent: 2em;
}

.scene {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.actions {
  display: flex;
  flex-direction: column;
}

.description {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  align-self: center;
  user-select: none;
  padding: 30px;
}

.ui {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 100%;
}

.recall {
  display: flex;
  justify-content: flex-end;
}