<div class="ui">
  <div class="recall">
    <button *ngIf="game.currentMemoryTitles.length > 0" mat-icon-button (click)="recallMemory()">
      <mat-icon svgIcon="recall" matTooltip="打开我的记忆"></mat-icon>
    </button>
  </div>
  <div *ngIf="getCurrentScene(); let scene" class="scene">
    <div class="description">
      <p *ngFor="let paragraph of scene.description.split('\n')" class="paragraph">{{paragraph}}</p>
    </div>
    <div class="actions">
      <button mat-button *ngFor="let action of scene.actions" (click)="takeAction(action)">{{action.title}}</button>
    </div>
  </div>
</div>