<div class="game">
  <div class="menu">
    <button mat-icon-button (click)="openNotes()" [color]="game.newNotes.length > 0 ? 'warn' : ''">
      <mat-icon svgIcon="notes" matTooltip="记事本"></mat-icon>
    </button>
  </div>
  <div class="event">
    <div class="description" (click)="triggerNextEvent()">
      <p *ngFor="let paragraph of game.currentEvent.description.split('\n')" class="paragraph">{{paragraph}}</p>
    </div>
    <div class="actions">
      <button mat-button *ngFor="let action of game.currentEvent.actionsAvailable" (click)="takeAction(action)">{{action.title}}</button>
    </div>
  </div>
</div>