<form class="container" (ngSubmit)="submit()">
  <textarea class="edit" placeholder="Script" matInput [formControl]="script" [errorStateMatcher]="matcher"></textarea>
  <ng-container *ngIf="script.invalid">
    <ng-container *ngFor="let key of objectKeys(script.errors)">
      <mat-error *ngIf="script.errors[key] === true">{{key}}</mat-error>
      <mat-error *ngIf="script.errors[key].length > 0">{{key}} {{script.errors[key]}}</mat-error>
    </ng-container>
  </ng-container>
  <button mat-button color="primary" type="submit" [disabled]="script.invalid">Submit</button>
</form>