<div class="container">
  <div class="menu">
    <button mat-icon-button (click)="editScript()">
      <mat-icon svgIcon="edit" matTooltip="Edit Script"></mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openNotes()" [color]="objectKeys(game.newNotes).length > 0 ? 'warn' : ''">
      <mat-icon svgIcon="notes" matTooltip="Notes"></mat-icon>
    </button>
  </div>
  <div class="event">
    <div class="description" (click)="triggerNextEvent()">
      <p *ngFor="let paragraph of game.currentEvent.description.split('\n')" class="paragraph">{{paragraph}}</p>
    </div>
    <div class="actions">
      <button mat-button class="action" *ngFor="let key of objectKeys(game.currentEvent.actionsAvailable)" (click)="takeAction(key)">{{key}}</button>
    </div>
  </div>
</div>