<div class="container">
  <div class="events">
    <table class="full-width padding" *ngFor="let event of script.events | keyvalue" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Event ID" [(ngModel)]="event.key">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" *ngIf="event.value.nextEvent; let nextEvent">
            <input matInput placeholder="Next Event" [(ngModel)]="nextEvent">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Description" [(ngModel)]="event.value.description" [rows]="event.value.description.split('\n').length"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
  <div class="control">
    <mat-form-field>
      <input matInput placeholder="First Event" [(ngModel)]="script.firstEvent">
    </mat-form-field>
    <button mat-button>Add Event</button>
    <button mat-button (click)="openJson()">JSON</button>
    <button mat-button color="primary">Submit</button>
  </div>
</div>