<div class="container">
  <mat-accordion class="events" multi>
    <mat-expansion-panel *ngFor="let event of scriptEditable.events; let i = index" [expanded]="event.open" (opened)="event.open = true"
      (closed)="event.open = false">
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="!event.open">
          {{event.id}}
        </mat-panel-title>
        <mat-panel-description *ngIf="!event.open">
          {{event.description.substring(0, 25) + (event.description.length > 25 ? '...' : '')}}
          <span class="next-event">{{event.nextEvent}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table class="full-width" cellspacing="0">
        <tr>
          <td colspan="4">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Description" [(ngModel)]="event.description" [rows]="event.description.split('\n').length"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr *ngFor="let action of event.actions; let i = index" (mouseenter)="action.mouseover = true" (mouseleave)="action.mouseover = false">
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Action Description" [(ngModel)]="action.description">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Trigger Event" [(ngModel)]="action.triggerEvent">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Open Mind" [(ngModel)]="action.openMind" [rows]="action.openMind ? action.openMind.split('\n').length : 1"></textarea>
            </mat-form-field>
          </td>
          <td class="icon-container">
            <button *ngIf="action.mouseover" mat-icon-button (click)="deleteAction(event, i)">
              <mat-icon svgIcon="delete" matTooltip="delete action"></mat-icon>
            </button>
          </td>
        </tr>
        <tr *ngFor="let note of event.updateNotes; let i = index" (mouseenter)="note.mouseover = true" (mouseleave)="note.mouseover = false">
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Note Title" [(ngModel)]="note.title">
            </mat-form-field>
          </td>
          <td colspan="2">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Note Content" [(ngModel)]="note.content" [rows]="note.content.split('\n').length"></textarea>
            </mat-form-field>
          </td>
          <td class="icon-container">
            <button *ngIf="note.mouseover" mat-icon-button (click)="deleteNote(event, i)">
              <mat-icon svgIcon="delete" matTooltip="delete note"></mat-icon>
            </button>
          </td>
        </tr>
      </table>
      <div class="event-control">
        <mat-form-field>
          <input matInput placeholder="Event ID" [(ngModel)]="event.id">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Next Event" [(ngModel)]="event.nextEvent">
        </mat-form-field>
        <span class="spacer"></span>
        <button mat-button (click)="addAction(event)">Add Action</button>
        <button mat-button (click)="addNote(event)">Add Note</button>
        <button mat-button color="warn" (click)="deleteEvent(i)">Delete Event</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-form-field>
        <input matInput placeholder="First Event" [(ngModel)]="scriptEditable.firstEvent">
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-button (click)="addEvent()">Add Event</button>
      <button mat-button (click)="openJson()">JSON</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>