.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.actions {
  display: flex;
  flex-direction: column;
}

.description {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  align-self: center;
  user-select: none;
  padding: 30px;
}

.paragraph {
  text-indent: 2em;
}

.memory-updated {
  color: black;
}

.memory-antiquated {
  color: grey;
}

.action {
  white-space: normal;
  line-height: 20px;
  margin-top: 10px;
}
