.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.events {
  flex-basis: 100%;
  overflow: scroll;
}

.event-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.full-width {
  width: 100%;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel-header {
  font-size: 0.8em;
}

.mat-form-field {
  font-size: 0.9em;
}

.icon-cell {
  width: 20px;
}

.mat-button {
  font-size: 0.8em;
}

.narrow-icon-button {
  width: 20px;
}

.mat-expansion-panel-header-description {
  flex-grow: 7;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-id-container {
  flex-basis: 100px;
  flex-shrink: 0;
}

.event-description-container {
  flex-grow: 1;
  color: grey;
}

.possible-next-events-container {
  flex-basis: 200px;
  display: flex;
  justify-content: flex-end;
}

.next-event {
  color: black;
  margin-right: 10px;
}

.action {
  background: aliceblue;
}

.note {
  background: #efefef;
}

.toolbar {
  align-items: center;
  font-size: 0.9em;
  display: flex;
  padding-left: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
  z-index: 1;
  box-shadow: 0 -3px 5px -1px rgba(0,0,0,.2), 0 -6px 10px 0 rgba(0,0,0,.14), 0 -1px 18px 0 rgba(0,0,0,.12);
}

.red {
  color: red;
}

.grey {
  color: grey;
}

.background-warn {
  background: lightcoral;
}
